In [41]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import statsmodels.stats as stats
import seaborn as sns

In [37]:
# usecols was applied to limit the columns to the ones necessary for the current work.
RPSale = pd.read_csv('../data/EXTR_RPSale.csv', usecols = ['Major', 'Minor', 'SalePrice', 'DocumentDate'], encoding = 'ISO-8859-1')
RPSale

/Users/reuben/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

          Major Minor DocumentDate  SalePrice
0        138860   110   08/21/2014     245000
1        664885    40   07/09/1991          0
2        423943    50   10/11/2014          0
3        403700   715   01/04/2013          0
4        213043   120   12/20/2019     560000
...         ...   ...          ...        ...
2107150  950090   120   06/22/2012     225000
2107151  182800   640   05/23/1989     108500
2107152  926980    40   05/23/1991     352500
2107153  882290  1220   03/10/2005     417500
2107154  537980     6   03/10/2000     159377

[2107155 rows x 4 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2107155 entries, 0 to 2107154
Data columns (total 3 columns):
Major        object
Minor        object
SalePrice    int64
dtypes: int64(1), object(2)
memory usage: 48.2+ MB

In [42]:
# Applied usecols to limit the colomns to the ones necessary for the work currently being done.
ResBldg = pd.read_csv('../data/EXTR_ResBldg.csv',usecols = ['Major', 'Minor', 'SqFtTotLiving'] ,encoding = 'ISO-8859-1')
ResBldg

         Major  Minor  SqFtTotLiving
0       718680     55           1400
1       718680     55           1400
2       718680     55           1400
3       718680     55           1400
4       718680     55           1400
...        ...    ...            ...
517549  926403    920           3740
517550  926445    170           2303
517551  926445    320           2660
517552  926490    410           1940
517553  926490    660           2500

[517554 rows x 3 columns]

In [35]:
ResBldg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517554 entries, 0 to 517553
Data columns (total 3 columns):
Major            517554 non-null int64
Minor            517554 non-null int64
SqFtTotLiving    517554 non-null int64
dtypes: int64(3)
memory usage: 11.8 MB