In [44]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import statsmodels.stats as stats
import seaborn as sns
pd.set_option('display.max_columns', None)

In [46]:
# usecols was applied to limit the columns to the ones necessary for the current work.
RPSale = pd.read_csv('../data/EXTR_RPSale.csv', encoding = 'ISO-8859-1')
RPSale.head()

/Users/reuben/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,PlatLot,PlatBlock,SellerName,BuyerName,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
0,2687551,138860,110,08/21/2014,245000,20140828001436,,,,,,,WENKLE NOEL SMITH -TRUSTEE ...,ALEXANDER APRIL ...,3,6,3,N,N,N,N,1,8,
1,1235111,664885,40,07/09/1991,0,199203161090,071,001,664885,C,B102,,HERRMAN JEFFREY A+PAULINE A ...,HERRMAN PAULINE A TTEE ...,3,0,26,N,N,N,N,18,3,11
2,2704079,423943,50,10/11/2014,0,20141205000558,,,,,,,STEPHENS ANTHONY P ...,STEPHENS ANTHONY P ...,3,6,15,N,N,N,N,18,8,18 31 51
3,2584094,403700,715,01/04/2013,0,20130110000910,,,,,,,PASTORS EDWIN ...,PASTORS KHRISTINA ...,3,6,15,N,N,N,N,11,8,18 31 38
4,3027422,213043,120,12/20/2019,560000,20191226000848,,,,,,,DOYLE REGAN M+STERLING C ...,SHAW HEATHER C ...,3,6,3,N,N,N,N,1,8,

In [34]:
usecols = ['Major', 'Minor', 'SalePrice', 'DocumentDate']
,usecols = ['Major', 'Minor', 'SqFtTotLiving']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2107155 entries, 0 to 2107154
Data columns (total 3 columns):
Major        object
Minor        object
SalePrice    int64
dtypes: int64(1), object(2)
memory usage: 48.2+ MB

In [47]:
# Applied usecols to limit the colomns to the ones necessary for the work currently being done.
ResBldg = pd.read_csv('../data/EXTR_ResBldg.csv',encoding = 'ISO-8859-1')
ResBldg.head()

/Users/reuben/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Major,Minor,BldgNbr,NbrLivingUnits,Address,BuildingNumber,Fraction,DirectionPrefix,StreetName,StreetType,DirectionSuffix,ZipCode,Stories,BldgGrade,BldgGradeVar,SqFt1stFloor,SqFtHalfFloor,SqFt2ndFloor,SqFtUpperFloor,SqFtUnfinFull,SqFtUnfinHalf,SqFtTotLiving,SqFtTotBasement,SqFtFinBasement,FinBasementGrade,SqFtGarageBasement,SqFtGarageAttached,DaylightBasement,SqFtOpenPorch,SqFtEnclosedPorch,SqFtDeck,HeatSystem,HeatSource,BrickStone,ViewUtilization,Bedrooms,BathHalfCount,Bath3qtrCount,BathFullCount,FpSingleStory,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
0,718680,55,3,1,5936 A 36TH AVE S 98118,5936,A,,36TH,AVE,S,98118,3.0,8,0,440,0,480,480,0,0,1400,0,0,0,0,0,N,0,0,0,1,3,0,,3,0,1,1,0,0,0,0,2017,0,0,0,0,3,0
1,718680,55,2,1,5936 A 36TH AVE S 98118,5936,A,,36TH,AVE,S,98118,3.0,8,0,440,0,480,480,0,0,1400,0,0,0,0,0,N,0,0,0,1,3,0,,3,0,1,1,0,0,0,0,2017,0,0,0,0,3,0
2,718680,55,4,1,5936 A 36TH AVE S 98118,5936,A,,36TH,AVE,S,98118,3.0,8,0,440,0,480,480,0,0,1400,0,0,0,0,0,N,0,0,0,1,3,0,,3,0,1,1,0,0,0,0,2017,0,0,0,0,3,0
3,718680,55,1,1,5936 A 36TH AVE S 98118,5936,A,,36TH,AVE,S,98118,3.0,8,0,440,0,480,480,0,0,1400,0,0,0,0,0,N,0,0,0,1,3,0,N,3,0,1,1,0,0,0,0,2017,0,0,0,0,3,0
4,718680,55,5,1,5936 A 36TH AVE S 98118,5936,A,,36TH,AVE,S,98118,3.0,8,0,440,0,480,480,0,0,1400,0,0,0,0,0,N,0,0,0,1,3,0,,3,0,1,1,0,0,0,0,2017,0,0,0,0,3,0

In [35]:
ResBldg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517554 entries, 0 to 517553
Data columns (total 3 columns):
Major            517554 non-null int64
Minor            517554 non-null int64
SqFtTotLiving    517554 non-null int64
dtypes: int64(3)
memory usage: 11.8 MB